<p>
  <b> Hello <%= first_name %>
      <%= last_name %>
  </b>
</p>
<p> Welcome to online tutor app
  <br />Please, <a href="<%= link %>"> click here </a> to active your account
</p>
<br /><br />
<p>Thanks & Regards: <br />Tutor team</p>