<p>
  <b> Hello <%= first_name %>
      <%= last_name %>
  </b>
</p>
<p> Welcome to online tutor app
  <br />Please, enter following code to verify your email.
<h3>
  <%= email_verification_code %>
</h3>
</p>
<br /><br />
<p>Thanks & Regards: <br />Tutor team</p>