@import "/src/assets/styles/utils/index.scss";
@import "/src/assets/styles/global/index.scss";

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999;
  background: rgba($color-white, 0.85);
  //   backdrop-filter: blur(3px);
}
