@import "src/assets/styles/utils/index.scss";
@import "src/assets/styles/global/index.scss";

.budget-detail-form {
  .content {
    padding-bottom: 20px;
    .title {
      font-size: 22px;
      font-weight: 700;
      color: $color-black-1;
      @include media("<=phone") {
        font-size: 20px;
      }
    }
    .text {
      font-size: 13px;
      font-weight: 300;
      color: $color-black-1;
      margin-bottom: 20px;
      .color {
        color: $color-brand-red;
      }
    }
    .form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      @include media("<=medium") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media("<=phoneH") {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
      }
      @include media("<=phone") {
        grid-template-columns: repeat(1, 1fr);
      }
      .budget-field {
        display: flex;
        flex-direction: column;
        .lbl {
          font-size: 13px;
          color: $color-black-1;
          margin-bottom: 7px;
          span {
            font-style: 12px;
            font-weight: 300;
            color: #a19f9d;
          }
        }
        .field {
          background: $color-white;
          width: 100%;
          padding: 0px 14px;
          border-radius: 3px;
          border: 1px solid rgba(17, 17, 19, 0.2);
          display: flex;
          align-items: center;
          .sign {
            color: $color-black-1;
            font-size: 14px;
            margin-right: 10px;
          }
          .iput {
            width: 100%;
            padding: 10px 0px;
            font-size: 14px;
            color: $color-black-1;
            position: relative;
            &::placeholder {
              color: #a19f9d;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
